@import "./Variables.scss";

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: max-content;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 4.7rem;
  @media screen and (max-width: 600px) {
    padding: 0 1rem;
  }

  article {
    background-color: $secondaryColor;
    width: 21rem;
    margin: 2rem 0;
    border-radius: 4px;
    @media screen and (max-width: 1160px) {
      flex-grow: 1;
    }

    h1 {
      transform: translateY(-60px);
      font-size: 3rem;

      @media screen and (max-width: $tablet) {
        transform: translateY(-45px);
      }
    }
  }

  .about-intro {
    background-color: unset;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0 2rem 0;

    p {
      margin-bottom: 1rem;
      text-align: justify;
    }
  }

  .education {
    height: max-content;
    margin-right: 1rem;
    @media screen and (max-width: 1160px) {
      margin-right: unset;
    }
  }

  .my-story {
    flex-basis: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    flex-grow: 1;

    h1 {
      text-align: left;
      width: 100%;
    }

    .cta {
      text-align: center;
      transform: translateY(-2rem);
    }
  }
}

.thesis {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

strong {
  background-color: $secondaryColor;
  padding: 0 0.2rem;
}
