@font-face {
  src: url("./fonts/noto-serif-v8-latin-regular.woff2");
  font-family: noto;
}

@font-face {
  src: url("./fonts/fira-code-v9-latin-regular.woff2");
  font-family: firacode;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: noto, serif;
  font-size: 26px;
  background-color: #fdfbfc;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

main {
  flex-grow: 1;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 20px;
  }
}
