@import "./Variables.scss";

.contact {
  margin: 0 10vw;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: max-content;

  .contact-intro {
    margin: 2rem 2vw;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    flex-basis: 100%;
    display: flex;
    justify-content: center;

    p {
      width: 60%;
      text-align: justify;
    }
  }

  .contact-container {
    background-color: $secondaryColor;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: max-content;
    margin: 2rem 2vw;
    border-radius: 4px;

    h1 {
      transform: translateY(-60px);
      font-size: 3rem;
      flex-basis: 100%;
    }
    .cta {
      padding: 1rem 0;
      margin-bottom: 1rem;
      button {
        border-radius: 4px;
        font-size: 1rem;
        font-family: noto, serif;
        background-color: #dc143c;
        padding: 0.5rem;
        transition: 0.3s;
        color: #fdfbfc;
        &:hover {
          box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
        }
        &:disabled {
          opacity: 0;
          transform: scale(0.5);
        }
        &:focus {
          outline: none;
        }
      }
    }
  }

  .contact-form {
    display: flex;
    flex-wrap: wrap;
    width: min-content;
    justify-content: center;
    :focus-within > .label {
      background-color: $labelFocus !important;
      color: white;
      border-color: $tertiaryColor;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin: 0 2vw;
      .label {
        width: max-content;
        background: $label;
        text-align: center;
        margin-top: 2rem;
        padding: 8px 12px;
        color: whitesmoke;
        border: none;
        border-radius: 4px 4px 0 0;
        transition: 0.2s;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
          0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
          0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
      }
      input,
      textarea {
        width: 100%;
        border: none;
        border-radius: 0 4px 4px 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.04),
          0 4px 8px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.04),
          0 16px 32px rgba(0, 0, 0, 0.04), 0 32px 64px rgba(0, 0, 0, 0.04);
        transition: 0.2s;
        &:focus {
          outline: none;
          border-color: $labelFocus;
          box-shadow: 0 1px 2px rgba(164, 71, 87, 0.07),
            0 2px 4px rgba(164, 71, 87, 0.07), 0 4px 8px rgba(164, 71, 87, 0.07),
            0 8px 16px rgba(164, 71, 87, 0.07),
            0 16px 32px rgba(164, 71, 87, 0.07),
            0 32px 64px rgba(164, 71, 87, 0.07);
        }
      }
      textarea {
        resize: none;
        line-height: 1.5rem;
        height: 25vw;
      }
    }

    .field-md {
      width: 25vw;
      min-width: 25vw;
    }

    .field-lg {
      width: 54vw;
      min-width: 54vw;
    }
  }

  .social-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.error {
  position: absolute;
  left: 0;
  bottom: -1.2rem;
  font-size: 0.75rem;
  transition: 0.2s;
  color: $primaryColor;
  animation: myAnimation 0.2s;
}

@keyframes myAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 
From https://codepen.io/aaroniker/pen/dybMVMB :
*/

:root {
  --input-color: #99a3ba;
  --input-border: black;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;
  --input-border-focus: #ffc2c7;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: blue;
}

.form-field {
  max-width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}
.form-field::-webkit-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::-moz-placeholder {
  color: var(--input-placeholder);
}
.form-field:-ms-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::-ms-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::placeholder {
  color: var(--input-placeholder);
}

.form-field:disabled {
  background: rgba(230, 230, 230, 0.3);
}

.label-disabled {
  background: rgb(230, 230, 230) !important;
}

.form-group {
  position: relative;
  display: -webkit-box;
  display: flex;
  width: 100%;
}

.form-group > span {
}
