@import "./Variables.scss";

.hero {
  height: 100%;
  width: 100%;
  max-width: unset;
  margin: unset;
  display: flex;
  align-items: center;
  .hero-title-container {
    display: flex;
    height: max-content;
    width: 100%;
    padding: 0 2rem;
    margin-top: 50px;
    align-items: center;
    @media screen and (max-width: $wideScreen) {
      flex-direction: column;
    }
    .title-text {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;
    }

    .hero-title-content {
      color: white;
      width: max-content;
      h1 {
        padding: 0 3rem;
        font-size: 2rem;
        align-self: center;
        @media screen and (max-width: $phone-sm) {
          font-size: 1rem;
          font-weight: lighter;
        }
      }
      h3 {
        padding: 0 3rem 1rem 3rem;
        font-size: 1rem;
        color: $primaryColor;
      }
      .flend {
        padding-top: 3rem;
        align-self: center;
      }
    }
  }
}
