@import "./Variables.scss";

.my-story-container {
  padding: 0 2rem;

  p {
    margin: 1rem 0;
    text-align: justify;
  }

  h2 {
    text-align: left;
    width: 100%;
    @media screen and (max-width: $desktop) {
      margin: 0 1rem;
    }
  }
}
