@import "./Variables.scss";

header {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  @media screen and (max-width: $phone) {
    height: 60px;
  }
  @media screen and (max-height: $phone) {
    height: 60px;
  }
  @media screen and (max-width: $desktop) {
    width: 100vw;
  }

  nav {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    height: inherit;
    @media screen and (max-width: $phone) {
      padding: 0 1rem !important;
      flex-direction: column;
      padding: 0 !important;
    }
    ul {
      justify-content: center;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      margin-left: 50px;
      @media screen and (max-width: $phone) {
        flex-basis: 100%;
        margin-top: 70px;
        padding: 0.5rem 1rem;
        margin-left: 0;
      }
      @media screen and (max-width: 300px) {
        flex-direction: column;
        align-items: center;
      }

      li {
        margin: 0 1rem;
        @media screen and (max-width: $phone) {
          margin: 0 0.5rem !important;
        }
        a {
          color: white;
        }
        .active {
          border-bottom: 3px solid $primaryColor !important;
        }

        .navbar-item {
          transition: 0.3s;
          border-bottom: 3px solid #dc143c00;
          &:hover {
            border-bottom: 3px solid $primaryColor;
          }
        }
        .navbar-item-dark {
          color: $primaryColor;
          transition: 0.3s;
          border-bottom: 3px solid #dc143c00;
          &:hover {
            border-bottom: 3px solid $primaryColor;
          }
        }
      }
    }
    .nav-home-link {
      display: flex;
      height: 100px;
      width: 60px;
      position: fixed;
      background-color: $primaryColor;
      background-image: url("../img/icon-home.svg");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0 0 4px 4px;
      background-size: 40%;
      transition: 0.3s;
      z-index: 10;
      @media screen and (max-width: $phone) {
        height: 60px;
      }
      @media screen and (max-height: $phone) {
        height: 60px;
      }
      .nav-logo-container {
        width: inherit;
        height: inherit;
        background-color: $primaryColor;
        border-radius: 0 0 4px 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .nav-logo-img {
          width: 60px;
          height: auto;
          background-image: url("../img/logo-transparent.png");
          background-repeat: no-repeat;
          z-index: 10;
        }
      }
      &:hover {
        box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}
