@import "./Variables.scss";

header {
  width: 100vw;
  height: 100px;
  min-height: 100px;
  @media screen and (max-width: $phone) {
    min-height: 60px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  @media screen and (max-width: $phone) {
    height: 60px;
    nav {
      padding: 0 1rem !important;
      ul {
        padding-left: 1rem;
        li {
          margin: 0 0.5rem !important;
        }
      }
    }
  }
  @media screen and (max-width: $phone-sm) {
    nav {
      flex-direction: column;
      padding: 0 !important;
      ul {
        flex-basis: 100%;
        margin-top: 70px;
        padding: 0.5rem 1rem;
      }
    }
  }
  @media screen and (max-width: $desktop) {
    width: 100vw;
  }

  nav {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    height: inherit;

    .nav-home-link {
      height: inherit;
      width: inherit;
      position: fixed;
      background-color: $primaryColor;
      background-image: url("../img/icon-home.svg");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0 0 4px 4px;
      background-size: 40%;
      transition: 0.3s;
      z-index: 10;
      .nav-logo {
        width: 60px;
        min-width: 60px;
        height: inherit;
        background-color: $primaryColor;
        border-radius: 0 0 4px 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .img {
          width: inherit;
          height: 60px;
          background-image: url("../img/logo-transparent.png");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &:hover {
        box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
      }
    }

    ul {
      justify-content: center;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      li {
        margin: 0 1rem;
        a {
          color: white;
        }
        .active {
          border-bottom: 3px solid $primaryColor !important;
        }

        .navbar-item {
          transition: 0.3s;
          border-bottom: 3px solid #dc143c00;
          &:hover {
            border-bottom: 3px solid $primaryColor;
          }
        }
        .navbar-item-dark {
          color: $primaryColor;
          transition: 0.3s;
          border-bottom: 3px solid #dc143c00;
          &:hover {
            border-bottom: 3px solid $primaryColor;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  header {
    nav {
      .nav-home-link {
        width: 60px;
        .nav-logo {
          min-width: unset;
          width: 60px;
          .img {
            width: 60px;
          }
        }
      }
    }
  }
}

.nav-logo-container {
  width: 60px;
  min-width: 60px;
  height: inherit;
  background-color: $primaryColor;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-logo-img {
  z-index: 10;
}
