@import "./Variables.scss";

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 0 2rem 0;
  @media screen and (max-width: 1160px) {
    align-items: center;
  }
}

.timeline-container::after {
  background-color: $primaryColor;
  content: "";
  position: absolute;
  left: 2.7rem;
  width: 4px;
  height: 100%;

  @media screen and (max-width: 1160px) {
    left: 50%;
    margin-left: -8.4rem;
    top: 50%;
    margin-top: -13.5rem;
  }
  @media screen and (max-width: $tablet) {
    left: 50%;
    margin-left: -8.9rem;
    top: 50%;
    margin-top: -13.5rem;
  }
}

.timeline-item {
  align-self: flex-end;
  justify-content: flex-start;
  position: relative;
  margin: 2rem 0;
  width: 80%;
  height: 5rem;
  max-height: 5rem;
  @media screen and (max-width: 1160px) {
    align-self: center;
    width: unset;
  }
}

.timeline-item-content {
  box-shadow: $shadow;
  border-radius: 4px;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  text-align: left;
  width: 14rem;
  padding: 0.5rem;
  height: inherit;
  transition: 0.2s;
  overflow: hidden;
  @media screen and (max-width: 550px) {
    width: 14rem;
  }

  &:hover {
    height: 8rem;
  }

  &:hover .timeline-details:not(:hover) {
    opacity: 1;
  }

  .timeline-details {
    transition: 0.2s;
    opacity: 0;
    font-size: 0.6rem;

    &:hover {
      opacity: 1;
    }

    a {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.timeline-item-content time {
  font-size: 0.6rem;
}

.timeline-item .circle {
  background-color: #fff;
  border: 3px solid $primaryColor;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  left: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-place {
  font-size: 0.5rem;
  background-color: $tertiaryColor;
  border-radius: 4px;
  padding: 0.2rem;
  margin: 0.3rem 0;
}

time {
  color: $labelFocus;
}
