@import "./Variables.scss";

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.timeline-container::after {
  background-color: $primaryColor;
  content: "";
  position: absolute;
  left: 20%;
  width: 4px;
  height: 100%;
}

.timeline-item {
  align-self: flex-end;
  justify-content: flex-start;
  position: relative;
  margin: 1rem 0;
  width: 80%;
}

.timeline-item-content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
  overflow: hidden;
  &:hover {
    opacity: 1;
  }
  &:hover .timeline-overlay-content {
    transform: translateX(0);
  }

  .timeline-overlay-content {
    transition: 0.3s;
    transform: translateX(100%);
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $tertiaryColor;
    width: 100%;
    height: 100%;
    color: black;
    padding: 0 2rem;
  }
}

// .timeline-item:nth-child(odd) {
//   align-self: flex-end;
//   justify-content: flex-start;
//   padding-left: 30px;
//   padding-right: 0;
// }

.timeline-item-content {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  text-align: left;
  width: 80%;
  padding: 0.5rem;
}

// .timeline-item:nth-child(odd) .timeline-item-content {
//   text-align: left;
//   align-items: flex-start;
// }

// .timeline-item:nth-child(odd) .timeline-item-content .tag {
//   left: auto;
//   right: 5px;
// }

.timeline-item-content time {
  font-size: 0.6rem;
}

.timeline-item-content a {
  font-size: 0.6rem;
  font-weight: bold;
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid $primaryColor;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  left: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

// .timeline-item:nth-child(odd) .timeline-item-content .circle {
//   right: auto;
//   left: -40px;
// }

@media only screen and (max-width: 1023px) {
  .timeline-item-content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline-item-content time {
    margin-top: 20px;
  }

  .timeline-item-content a {
    text-decoration: underline;
  }
}

.timeline-place {
  font-size: 0.5rem;
  background-color: $tertiaryColor;
  border-radius: 4px;
  padding: 0.2rem;
  margin: 0.3rem 0;
}

time {
  color: $labelFocus;
}
