$backgroundColor: #fdfbfc;
$primaryColor: #dc143c;
$secondaryColor: #fae8e0;
$tertiaryColor: #ffc2c7;
$quaternaryColor: #ffc2c7e1;
$selectionColor: #8fdde7;
$green: #b6e5d8;
$cream: #fbe5c8;
$orange: #ff6851;
$label: #4c143b;
// $labelFocus: #da746f;
$labelFocus: #a44757;
