$backgroundColor: #fdfbfc;
$primaryColor: #22031f;
$secondaryColor: #fae8e0;
$tertiaryColor: #ffc2c7;
$quaternaryColor: #ffc2c7e1;
$selectionColor: #8fdde7;
$green: #b6e5d8;
$cream: #fbe5c8;
$orange: #ff6851;
$label: #4c143b;
$purple: #593c8f;
// $labelFocus: #da746f;
$labelFocus: #a44757;
$shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
  0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
  0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
$shadowSmall: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
  0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
  0 16px 32px rgba(0, 0, 0, 0.07);
$ultraWideScreen: 2000px;
$wideScreen: 1700px;
$desktop: 1250px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
